# sources
src-bin
src-lib
src-services
src-features

# documentation
api
howto
articles
examples
examples_dev
images
SUMMARY.md
DEVELOPMENT.md
book.json
docs
_book

# development files
node_modules
package-lock.json
yarn.json
Makefile

# environment
.env.local
.env.development.local
.env.production.local
.env.test.local
